body {
    min-width: 800px;
}

.list-group-item-header {
    margin-bottom: 0;
    overflow: hidden;
}

.list-group-item-body {
    clear: both;
    margin-top: .5rem;
}

.list-group-item-header > span {
    position: relative;
    /* Offset the standards title to make it vertically align
     * with the buttons in the row. */
    top: .25em;
}
