<div class="domain-rules-container well">
    <h3>Patterns</h3>
    <div class="radio" v-for="pattern in blockingPatterns()">
        <label>
            <input type="radio"
                 :value="pattern"
                v-model="dataSelectedPattern"
                @change="onRadioChange">
            {{ pattern }}
            <span class="glyphicon glyphicon-remove"
                   v-if="!isDefault(pattern)"
           :data-domain="pattern"
                 @click="onRemoveClick"></span>
        </label>
    </div>

    <h3>Whitelisted Patterns</h3>
    <div class="radio" v-for="pattern in allowingPatterns()">
        <label>
            <input type="radio"
                 :value="pattern"
                v-model="dataSelectedPattern"
                @change="onRadioChange">
            {{ pattern }}
            <span class="glyphicon glyphicon-remove"
                   v-if="!isDefault(pattern)"
           :data-domain="pattern"
                 @click="onRemoveClick"></span>
        </label>
    </div>


    <div class="alert alert-danger" role="alert" v-if="errorMessage">
        {{ errorMessage }}
    </div>

    <div class="form-group" v-bind:class="{ 'has-error': errorMessage }">
        <label for="newPattern">Add New Domain Pattern</label>
        <input class="form-control"
        v-model.trim="newPattern"
         placeholder="*.example.org">
    </div>

    <button type="submit"
           class="btn btn-default btn-block"
          @click="newPatternSubmitted">Add Rule</button>
</div>