<div>
    <div class="export-section card mb-4">
        <strong class="card-header">
            Export Settings
        </strong>

        <div class="card-body">
            <div class="form-group">
                <label class="col-form-label">
                    Select rules to export:
                </label>
                <select multiple class="custom-select" v-model="patternsToExport">
                    <option v-for="pattern in dataPatterns" :value="pattern">
                        {{ pattern }}
                    </option>
                </select>
                <span class="form-text">
                    Select one or more rules to export.
                </span>
            </div>

            <div class="form-group">
                <label class="col-form-label">
                    The below is a copy of the selected standards to export:
                </label>
                <textarea
                    class="form-control"
                    rows="3"
                    readonly
                    v-model="exportedData"
                    placeholder="Exported data will appear here."></textarea>
            </div>
        </div>
    </div>

    <div class="import-section card mb-4">
        <strong class="card-header">
            Import Settings
        </strong>

        <div class="card-body">
            <div :class="['form-group', {'has-error': importError }]">
                <label class="col-form-label">
                    Paste the exported data you'd like to import in the textarea below:
                </label>
                <textarea
                    class="form-control"
                    rows="3"
                v-model="importTextAreaValue"
            placeholder="Paste the data you would like to import below."></textarea>
            </div>

            <div :class="['form-group', {'has-error': importError }]">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="shouldOverwrite">
                    <label class="form-check-label">Overwrite existing settings?</label>
                    <span class="form-text">
                        If this option is selected, than existing options will be
                        overwritten.  If it is unchecked, then the blocked standards
                        for existing domains will not be affected.
                    </span>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary"
              v-bind:disabled="!isValidToImport()"
                       @click="onImportClicked">Import Settings</button>
            </div>

            <div class="form-group">
                <label class="col-form-label">
                    Import log:
                </label>
                <textarea
                    readonly
                    :class="['form-control', importError ? 'alert-danger' : '']"
                    rows="3"
                v-model="importLog"
            placeholder="The results of each import will be presented here."></textarea>
            </div>
        </div>
    </div>
</div>