<div class="web-api-standards-container">

    <h3 v-if="isEditingRulePattern === false">
        Pattern:
        <code class="mr-2">{{ dataSelectedPattern }}</code>
        <button
            v-if="dataSelectedPattern !== defaultPattern"
            class="btn btn-warning"
            id="pattern-edit-button-start"
            @click="isEditingRulePattern = true; dataEditError = ''; proposedNewPattern = dataSelectedPattern;">
            Edit
        </button>
    </h3>
    <div v-else>
        <div class="form-inline mb-2">
            <div class="form-group">
                <label
                    for="pattern-edit-input"
                    class="mr-2">
                    Pattern:
                </label>
                <input
                    :class="['form-control', 'mr-2', { 'is-invalid': !!dataEditError }]"
                  v-model="proposedNewPattern"
                    id="pattern-edit-input"
                    @keyup.stop.prevent="newPatternChanged">
                <button
                    class="btn btn-primary mr-2"
                    :disabled="!!dataEditError"
                    id="pattern-edit-button-save"
                    @click="changePatternSubmitted">
                    Save
                </button>
                <button
                    class="btn btn-secondary"
                    id="pattern-edit-button-cancel"
                    @click.prevent.stop="isEditingRulePattern = false; dataEditError = '';">
                    Cancel
                </button>
            </div>
        </div>
        <div
            v-if="dataEditError !== ''"
            role="alert"
            id="pattern-edit-alert"
            class="alert alert-danger">
            {{ dataEditError }}
        </div>
    </div>

    <p>
        Blocking <code>{{ numFeaturesBlocked }}</code> {{ numFeaturesBlocked === 1 ? "feature" : "features" }}
        and <code>{{ numStandardsBlocked }}</code> {{ numStandardsBlocked === 1 ? "standard" : "standards" }}.
    </p>

    <div class="card mb-4" id="rule-settings">
        <h4 class="card-header">
            Settings and Configuration
        </h4>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5 class="list-group-item-header">
                    <span>
                        Cross-frame blocking
                    </span>

                    <button class="float-right btn btn-sm toggle-button"
                            @click.stop.prevent="toggleVisibleSection('cross-frame-blocking')">
                        <template v-if="visibleSections['cross-frame-blocking']">
                            Collapse
                        </template>
                        <template v-else>
                            Expand
                        </template>
                    </button>
                </h5>

                <div :class="['list-group-item-body', { collapse: !visibleSections['cross-frame-blocking'] }]">
                    <div class="form-check">
                        <input type="checkbox"
                                id="cross-frame-blocking-checkbox"
                            class="form-check-input"
                aria-describedby="cross-frame-blocking-help">
                        <label class="form-check-label" for="cross-frame-blocking-checkbox">
                            Block cross-frame access
                        </label>
                    </div>
                    <div class="form-text text-muted" id="cross-frame-blocking-help">
                        <p>
                            There are some cases where a very determined attacker can
                            work around the protections Web API Manager provides.
                            Because of bugs in how browsers have implemented the
                            WebExtensions standard (tracked by bugs in both
                            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1424176">Firefox</a> and
                            <a href="https://bugs.chromium.org/p/chromium/issues/detail?id=793217">Chromium</a>),
                            attackers can create child-frames, and extract blocked
                            functionality out of those frames, before extensions can
                            modify the child frame.
                        </p>

                        <p>
                            By default this extension does not block agianst these kinds
                            of attacks.  The only manner to do so (preventing
                            parent frames from accessing any content of child frames)
                            breaks a large number of sites, and in the wild this
                            kind of attack seems to be rare (to-non-existant).
                        </p>

                        <p>
                            Checking this option will guard against this type of
                            attack, though will break any site that requires direct
                            interaction with child frames to function.
                        </p>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <h5 class="list-group-item-header">
                    <span>Pre-made configurations</span>
                    <button class="float-right btn btn-sm toggle-button"
                            @click.stop.prevent="toggleVisibleSection('pre-made-configs')">
                        <template v-if="visibleSections['pre-made-configs']">
                            Collapse
                        </template>
                        <template v-else>
                            Expand
                        </template>
                    </button>
                </h5>

                <div :class="['list-group-item-body', { collapse: !visibleSections['pre-made-configs'] }]">
                    <div class="form-group">
                        <button
                            @click="onLiteClicked"
                            :disabled="isPassiveMode"
                            class="btn btn-default"
                            id="suggested-configurations-apply-lite">
                            Use lite settings
                        </button>
                        <button
                            @click="onConservativeClicked"
                            :disabled="isPassiveMode"
                            class="btn btn-default"
                            id="suggested-configurations-apply-conservative">
                            Use conservative settings
                        </button>
                        <button
                            @click="onAggressiveClicked"
                            :disabled="isPassiveMode"
                            class="btn btn-default"
                            id="suggested-configurations-apply-aggressive">
                            Use aggressive settings
                        </button>
                    </div>
                    <p class="form-text text-muted">
                        <strong>Lite</strong> is designed to have a minimal
                        impact on typical browsing while still providing
                        security and privacy improvements.
                        <strong>Conservative</strong> and <strong>Aggressive</strong>
                        provide extra protections, though will impact the
                        functionality of more sites.
                    </p>
                </div>
            </li>

            <li class="list-group-item">
                <h5 class="list-group-item-header">
                    <span>Frequent actions</span>
                    <button class="float-right btn btn-sm toggle-button"
                            @click.stop.prevent="toggleVisibleSection('frequent-actions')">
                        <template v-if="visibleSections['frequent-actions']">
                            Collapse
                        </template>
                        <template v-else>
                            Expand
                        </template>
                    </button>
                </h5>

                <div :class="['list-group-item-body', { collapse: !visibleSections['frequent-actions'] }]">
                    <div class="form-group">
                        <button
                            @click="onClearClicked"
                            :disabled="isPassiveMode"
                            class="btn btn-default"
                            id="frequent-actions-clear-settings">
                            Clear settings
                        </button>
                        <button
                            @click="onAllClicked"
                            :disabled="isPassiveMode"
                            class="btn btn-default"
                            id="frequent-actions-block-all">
                            Block all
                        </button>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <h5 class="list-group-item-header">
                    <span>Templates</span>
                    <button class="float-right btn btn-sm toggle-button"
                            @click.stop.prevent="toggleVisibleSection('templates')">
                        <template v-if="visibleSections['templates']">
                            Collapse
                        </template>
                        <template v-else>
                            Expand
                        </template>
                    </button>
                </h5>

                <div :class="['list-group-item-body', { collapse: !visibleSections['templates'] }]">
                    <p id="template-description">
                        The current template blocks
                        <code>{{ numFeaturesInTemplate }}</code> {{ numFeaturesInTemplate === 1 ? "feature" : "features" }}
                        and <code>{{ numStandardsInTemplate }}</code> {{ numStandardsInTemplate === 1 ? "standard" : "standards" }}.
                    </p>

                    <div class="form-group">
                        <button
                            @click="onSaveTemplateClicked"
                            :disable="isPassiveMode"
                            class="btn btn-default"
                            id="templates-save">
                            Save template
                        </button>
                        <button
                            @click="onApplyTemplateClicked"
                            :disable="isPassiveMode"
                            class="btn btn-default"
                            id="templates-apply">
                            Apply template
                        </button>
                    </div>
                    <p class="form-text text-muted">
                        The template is a set of standards and features to block
                        that you easily reapply to other domains.
                        <strong>Saving</strong> a template will copy the currently
                        selected standards and features, and
                        <strong>Applying</strong> the template will set those
                        standards and features to be blocked for the current rule.
                    </p>
                </div>
            </li>

            <li class="list-group-item">
                <h5 class="list-group-item-header">
                    <span>Custom blocked features</span>
                    <button class="float-right btn btn-sm toggle-button"
                            @click.stop.prevent="toggleVisibleSection('custom-blocked-features')">
                        <template v-if="visibleSections['custom-blocked-features']">
                            Collapse
                        </template>
                        <template v-else>
                            Expand
                        </template>
                    </button>
                </h5>

                <div :class="['list-group-item-body', { collapse: !visibleSections['custom-blocked-features'] }]">
                    <div class="form-group">
                        <label for="custom-blocked-features" class="sr-only">
                            Blocked features
                        </label>
                        <textarea
                            class="form-control"
                                id="custom-blocked-features"
                                rows="3"
                            v-model="dataCurrentCustomBlockedFeatures"
                            @change="onCustomBlockedFeaturesChange"></textarea>
                        <div class="form-text text-muted">
                            <p>
                                For advanced users, you can enter additional features
                                that should be blocked for domains matching this rule here.
                                This can be used to block subsets of features from a larger
                                standard, without blocking <em>every</em> feature from the
                                standard.
                            </p>
                            <p>
                                Enter each path, on per line.  For example, to block
                                the ability of sites to take fine grained timestamps
                                using the <code>now</code> method in the
                                <a href="https://www.w3.org/TR/hr-time/">High Resolution
                                Time Level 2</a> standard, but without blocking the
                                rest of the standard, you could enter
                                <code>Performance.prototype.now</code>.
                            </p>

                            <p>
                                As a warning, this is an <strong>advanced feature</strong>,
                                and the values entered here are not validated or checked
                                for correctness.  Make sure you know what you're doing 🤣.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card mb-4" id="rule-standards">
        <h4 class="card-header">
            Web API Standards
        </h4>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" v-for="categoryId in sortedCategoryIds">
                <h5 class="list-group-item-header">
                    <span class="standard-name">
                        {{ getCategoryLib().titleForCategoryId(categoryId) }}
                    </span>

                    <button class="float-right btn btn-sm toggle-button"
                            @click.stop.prevent="toggleVisibleSection(categoryId)">
                        <template v-if="visibleSections[categoryId]">
                            Collapse
                        </template>
                        <template v-else>
                            Expand
                        </template>
                    </button>

                    <button v-if="areAllStandardsInCategoryBlocked(categoryId)"
                        @click.stop.prevent="toggleCategory($event, false, categoryId)"
                    :disabled="isPassiveMode"
                        class="float-right btn btn-sm btn-light toggle-button toggle-button-allow mr-2">
                        Allow all
                    </button>
                    <button v-else
                        @click="toggleCategory($event, true, categoryId)"
                        class="float-right btn btn-sm btn-light toggle-button toggle-button-block mr-2">
                        Block all
                    </button>
                </h5>

                <div :class="['list-group-item-body', { collapse: !visibleSections[categoryId] }]">
                    <p class="mt-3 form-text text-muted">
                        {{ getCategoryLib().descriptionForCategoryId(categoryId) }}
                    </p>

                    <div class="web-api-standards-group form-check"
                        v-for="standardId in sortedStandardIdsInCategory(categoryId)">
                        <input type="checkbox"
                               :id="'standard-id-checkbox-' + standardId"
                            class="form-check-input standard-id-checkbox"
                            :value="standardId"
                            v-model="dataCurrentStandardIds"
                        :disabled="isPassiveMode"
                            @change="onStandardChecked">
                        <label
                            class="form-check-label"
                            :for="'standard-id-checkbox-' + standardId">
                            {{ getStandardsLib().nameForStandardId(standardId) }}
                        </label>
                        <a v-if="getStandardsLib().urlForStandardId(standardId)"
                        class="badge badge-pill badge-secondary float-right"
                        :href="getStandardsLib().urlForStandardId(standardId)">
                            info
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
