<div class="web-api-standards-container">
    <h3>Pattern: <code>{{ dataSelectedPattern }}</code></h3>

    <ul class="list-group form-horizontal">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Suggested configurations</h4>
            <button @click="onLiteClicked" :disabled="isPassiveMode">
                Use lite settings
            </button>
            <button @click="onConservativeClicked" :disabled="isPassiveMode">
                Use conservative settings
            </button>
            <button @click="onAggressiveClicked" :disabled="isPassiveMode">
                Use aggressive settings
            </button>
            <div class="help-block">
                <strong>Lite</strong> is designed to have a minimal
                impact on typical browsing while still providing
                security and privacy improvements.
                <strong>Conservative</strong> and <strong>Aggressive</strong>
                provide extra protections, though will impact the
                functionality of more sites.
            </div>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Custom configurations</h4>
            <button @click="onSaveTemplateClicked" :disable="isPassiveMode">
                Save template
            </button>
            <button @click="onApplyTemplateClicked" :disable="isPassiveMode">
                Apply template ({{ dataTemplate.length === 1 ? "1 standard" : dataTemplate.length.toString() + " standards" }})
            </button>
            <p class="help-block">
                The template is a set of standards to block that you
                easily reapply to other domains.  <strong>Saving</strong> a template
                will copy the currently selected standards, and <strong>Applying</strong>
                the template will set those standards to be blocked.
            </p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Frequent actions</h4>
            <button @click="onClearClicked" :disabled="isPassiveMode">
                Clear settings
            </button>
            <button @click="onAllClicked" :disabled="isPassiveMode">
                Block all
            </button>
        </li>
    </ul>

    <div class="panel panel-default" v-for="categoryId in sortedCategoryIds">
        <div class="panel-heading">
            {{ getCategoryLib().titleForCategoryId(categoryId) }}

            <button v-if="areAllStandardsInCategoryBlocked(categoryId)"
                  @click="toggleCategory($event, false, categoryId)"
               :disabled="isPassiveMode"
                   class="pull-right toggle-button toggle-button-allow">
                Allow all
            </button>
            <button @click="toggleCategory($event, true, categoryId)"
                     class="pull-right toggle-button toggle-button-block"
                     v-else>
                Block all
            </button>
        </div>

        <ul class="list-group">
            <li class="list-group-item web-api-standards-group"
                v-for="standardId in sortedStandardIdsInCategory(categoryId)">
                <span v-if="getStandardsLib().urlForStandardId(standardId)"
                     class="badge">
                    <a :href="getStandardsLib().urlForStandardId(standardId)">info</a>
                </span>

                <input type="checkbox"
                     :value="standardId"
                    v-model="dataCurrentStandardIds"
                  :disabled="isPassiveMode"
                    @change="onStandardChecked">
                {{ getStandardsLib().nameForStandardId(standardId) }}
            </li>
        </ul>

        <div class="panel-footer">
            {{ getCategoryLib().descriptionForCategoryId(categoryId) }}
        </div>
    </div>
</div>
